.calc-btn {
    box-sizing: border-box;
    background-color: silver;
    color: black;
    width: 70px;
    height: 65px;
    border: 1px solid grey;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 5px;
}
.btn-base:hover {
    background-color: grey;
}
.calc-btn-operator:hover {
    background-color: red;
}
.row {
    display: flex;
}
.r {
    box-sizing: border-box;
    width: 154px;
    height: 65px;
    background-color: silver;
    color: black;
    border: 1px solid grey;
    border-radius: 0 0 0 7px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    margin: 5px;
}
#calc-zero {
    width: 182px; 
    border-radius: 0 0 0 7px;   
}
#calc-display-val {
    width: 280px;
    height: 80px;
    color: white;
    text-align: right;
    border-left: 1px, solid gray;
    border-right: 1px, solid gray;
    border-top: 1px, solid gray;
    font-size: 32px;
    background-color: #383838;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}
.calc-btn-operator {
    background-color: orange;
    color: white;
}
#calc-equals {
    border-radius: 0 0 7px 0;
}
#calc-parent {
    width: 280px;
    border: 3px solid grey;
    border-radius: 10px 10px 10px 10px;
    margin-left: calc(50% - 100px);
    font-family: "Arial";
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
}
